/* Fondo de la página */
.forgot-password-container {
  min-height: 100vh;
   background: linear-gradient(70deg, rgb(136, 65, 1), rgb(159, 81, 9));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  color: #2c3e50;
}

/* Card del formulario */
.forgot-password-container form {
  background-color: whitesmoke;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

/* Título y descripción */
.forgot-password-container h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #2c3e50;
}

.forgot-password-container p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #2c3e50;
}

/* Inputs */
.forgot-password-container input[type="email"] {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  font-size: 1rem;
  color: #2c3e50;
  box-sizing: border-box;
  background-color: white;
}

.forgot-password-container input[type="email"]::placeholder {
  color: #999;
}

.forgot-password-container input[type="email"]:focus {
  border-color: #95c0d1;
  outline: none;
}

.contact-close{
  position: absolute;
  top: 1rem;
 left: 1rem;
  z-index: 10;
}
/* Botón */
.forgot-password-container button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 25px;
  background-color: #d8a519;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-container button:hover {
  background-color: #9b7611;
}

.forgot-password-container button:disabled {
  background-color: #a2bce6;
  cursor: not-allowed;
}
